<!-- iterer dans data -->
<!-- <ul>
  <li *ngFor='let i of data'>{{i.client}}</li>

</ul> -->
<!-- {{i.client}} -->

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th *ngFor="let i of headers" scope="col">{{i}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let i of data'>
      <td><button class='btn btn-warning'(click)='goToEdit(i.id)'>Editer</button></td>
      <!-- <td>Action</td> -->
      <td>{{i.typePresta | uppercase}}</td>
      <td>{{i.client}}</td>
      <td>{{i.nbJours}}</td>
      <td>{{i.tjmHt}}</td>
      <td>{{i.tjmHt | total :i.nbJours | currency }}</td>
      <td>{{i.tjmHt | total :i.nbJours :i.tva | currency }}</td>
      <td>{{i.state}}</td>
    </tr>
<!-- string interpolation -->
<!-- pipe currency -->
  </tbody>

  <!-- ici on ajoute un bouton pour redirection -->
  <app-btn
  label='Ajouter'
  styleBtn='btn btn-success'
  route='/add'
  ></app-btn>
</table>
</div>

