<!-- ici on crée le menu -->
<!-- ul -->
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link"
    routerLink='/'
    routerLinkActive='active'
    [routerLinkActiveOptions]="{exact:true}">Page List Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
    routerLink='/add'
    routerLinkActive='active'
    [routerLinkActiveOptions]="{exact:true}">Page Add Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink='/demo' routerLinkActive='active' [routerLinkActiveOptions]="{exact:true}">Page Add
      Démo Observable</a>
  </li>
</ul>
